/*! Last update: Mon Oct 24 2016 15:14:38 GMT+0800 (CST) */
@font-face {font-family: "FontAwesome";
  src: url('font/iconfont.eot?t=1483081144544');
  src: url('font/iconfont.eot?t=1483081144544#iefix') format('embedded-opentype'),
    url('font/iconfont.woff?t=1483081144544') format('woff'),
    url('font/iconfont.ttf?t=1483081144544') format('truetype'),
    url('font/iconfont.svg?t=1483081144544#iconfont') format('svg');
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}


/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-min {
  font-size: 1.5em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.doc-page {
  margin-top: 50px;
}

.header {
  background: #1C272D;
}

.prefix {
  color: #0AE;
}

.ray-table {
  position: relative;
  overflow: hidden;
  border: 1px solid #EEE;
}

.ray-table.column-resizing {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ray-table .ray-table-sortable {
  position: absolute;
}

.ray-table .ray-table-sortable .fa-sort {
  color: #AAA;
}

.ray-table .ray-table-sortable .fa-sort-asc,
.ray-table .ray-table-sortable .fa-sort-desc {
  color: #0AE;
}

.ray-table .ray-table-row {
  position: absolute;
  top: 0;
  width: 100%;
  height: 36px;
  overflow: hidden;
  border-bottom: 1px solid #EEE;
}

.ray-table .ray-table-cell {
  position: absolute;
  display: block;
  height: 36px;
  overflow: hidden;
  white-space: normal;
  background: white;
  border-color: #EEE;
  border-style: solid;
  border-width: 0 1px 0 0;
}

.ray-table .ray-table-row-header,
.ray-table .ray-table-row-header .ray-table-cell {
  background: whitesmoke;
}

.ray-table .ray-table-row-header.shadow {
  z-index: 5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.28);
}

.ray-table .ray-table-body-row-wrapper {
  position: relative;
  overflow: auto;
}

.ray-table .ray-table-body-row-wrapper .ray-table-body-info {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -20px;
  line-height: 40px;
  text-align: center;
}

.ray-table .ray-table-body-row-wrapper .ray-table-body-info .icon {
  margin: 0 10px;
}

.ray-table .ray-table-cell.sortable {
  cursor: pointer;
}

.ray-table .ray-table-cell.first {
  border-left-width: 0;
}

.ray-table .ray-table-cell .ray-table-cell-wrap1 {
  display: table;
}

.ray-table .ray-table-cell .ray-table-cell-wrap2 {
  display: table-row;
}

.ray-table .ray-table-cell .ray-table-cell-wrap3 {
  display: table-cell;
  vertical-align: middle;
}

.ray-table .ray-table-cell .ray-table-cell-content {
  width: 100%;
  padding: 8px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ray-table .ray-table-column-resize-spanner {
  position: absolute;
  z-index: 3;
  width: 6px;
  height: 36px;
  cursor: ew-resize;
}

.ray-table .ray-table-column-resize-spanner:hover {
  background: #0284FF;
}

.ray-table .ray-table-cell-group.fixed {
  position: absolute;
  z-index: 4;
  background: white;
}

.ray-table .ray-table-cell-group.shadow {
  box-shadow: 3px 0 5px rgba(9, 9, 9, 0.08);
}

.ray-table .ray-table-mouse-area {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 6;
  width: 1px;
  background: #0284FF;
}

.ray-table-pagination-wrapper {
  padding: 10px;
  background: whitesmoke;
}

.ray-table-pagination-wrapper .ray-table-length-menu,
.ray-table-pagination-wrapper .ray-table-page-info {
  display: inline-block;
  margin-left: 10px;
}

.ray-table-pagination-wrapper .ray-table-pagination {
  float: right;
}

.ray-table-pagination-wrapper .ray-table-pagination .pagination {
  margin: 0;
}

.ray-table-pagination-wrapper .ray-table-pagination .disabled a {
  color: #999;
  background: whitesmoke;
  border-color: whitesmoke;
}

.ray-table-treetable .ray-table-row {
  position: relative;
}

.ray-table-treetable .ray-table-row .expand-icon {
  width: 1.5rem;
  cursor: pointer;
}

.ray-table-treetable .ray-table-row .expand-icon::before {
  content: "\eaf1";
}

.ray-table-treetable .children {
  display: none;
}

.ray-table-treetable .open > .children {
  display: block;
}

.ray-table-treetable .open > .ray-table-row .expand-icon::before {
  content: "\eaf3";
}

.arrow-drop-down-icon::before { content: "\eaf1"; }

.arrow-drop-down-circle-icon::before { content: "\eaf2"; }

.arrow-drop-icon::before { content: "\eaf3"; }

.expand-less-icon::before { content: "\eaf5"; }

.expand-more-icon::before { content: "\eaf6"; }
